html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

header {
  position: relative;
  height: 100vh; /* Full viewport height */
  width: 100%;
  overflow: hidden; /* Prevent scrollbars */
}

.logo-name {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('runner.jpg') no-repeat center center/cover;
}

.text-overlay, .text-overlay1 {
  position: absolute;
  text-align: center;
  color: white;
  padding: 20px;
  border-radius: 40px;
}

.text-overlay {
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-overlay1 {
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(173, 164, 206);
  font-size: 46px;
  text-shadow: 2px 0 black;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.small-text {
  font-size: 36px;
  font-family: 'Courier New', Courier, monospace;
}

.topnav {
  display: none; /* Hide the navigation links by default */
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.topnav a {
  color: rgb(173, 164, 206);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 32px;
  border-radius: 10px;
  font-family: 'Courier New', Courier, monospace;
}

.topnav a:hover {
  background-color: #8b759f;
  color: rgb(237, 230, 241);
}

.topnav a.active {
  background-color: rgb(152, 153, 207);
  color: rgb(237, 230, 241);
}

.hamburger {
  background: none;
  border: none;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

/* Media queries */
@media (min-width: 768px) {
  .text-overlay, .text-overlay1 {
      padding: 40px;
  }

  .topnav {
      display: flex; /* Show the navigation links for larger screens */
      flex-direction: row;
  }

  .topnav a {
      font-size: 24px;
  }

  .small-text {
      font-size: 24px;
  }

  header, footer {
      padding: 32px;
  }

  .hamburger {
      display: none; /* Hide the hamburger button for larger screens */
  }
}

@media (max-width: 767px) {
  .topnav {
      display: none; /* Hide the navigation links by default for small screens */
  }
}
