
main {
  display: flex;
  flex-wrap: flex;
  justify-content: center;
  gap: 32px;
  margin: 20px 20px
}
/* style the top navigation */
.topnav {
  
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: rgb(142, 210, 246);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border: 10px;
  border-radius: 10px 10px 10px 10px;
  

}
/* Change the color of links on hover */
.topnav a:hover {
  background-color: #b0e4f0;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: rgb(142, 210, 246);
  color: rgb(5, 63, 94);}
   /* make the header fit with the rest of the site*/
header { 
      background-color:rgb(26, 78, 78);
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      text-align: center;
      font-size: 36px;
      padding: 16px;
      color: rgb(142, 210, 246);
      margin-bottom: 24px;
  
  }
article {
  /* background-color: var(--secondary-color);
  border-radius: 16px;
  overflow: hidden;
  text-align: center;
  margin: 20px 0; */
  /* display:flex;
  width: 100%;
  justify-content: space-between; */

}
section {
  display:flex;
  width: 100%;
}
/* style the containers */
.container {
  box-shadow: 10px 10px #5e7485;
  background-color: rgb(213, 238, 249);
  display:flex;
  justify-content: space-evenly;
  flex-direction: column;
  border: 2px solid #0d0d0e;
  padding: 20px;
  width: 80%;
  margin: 10px 10px;
  text-align: center;
  
 

/*style the image*/
}
.interests-image {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 16px;
  border: 16px;
  border-color: black;
}
body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: rgb(5, 63, 94);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;;
  background-color: rgb(152, 192, 194);
  
}

 /* make the footer pop*/
 footer{
  background-color: rgb(26, 78, 78);
  justify-content: space-around;
 text-align: center;
 padding: 16px;

 /*style the social media icons*/
}
.social-media {
  display: flex;
  justify-content: space-evenly;}

  .social-media a i {font-size: 24px;
      color: rgb(112, 188, 192);
      }
      
      .logo-name a img {
          height: 100%;
          width: 100%;
          padding: 0;
          margin: 0;
      }

/* styles for desktop devices */
@media only screen and (min-width: 992px) {
  body {
    font-size: 16px;
    width: 80%;
    margin: auto;
  }
}

/* styles for tablet devices */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  body {
    font-size: 14px;
    width: 90%;
    margin: auto;
  }
}

/* styles for mobile devices */
@media only screen and (max-width: 800px) {
  header { 
    background-color:rgb(26, 78, 78);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 24px;
    padding: 66px;
    color: rgb(142, 210, 246);
    

}
  body {
    font-size: 10px;
    width: 100%;
    margin: 0;
  }
  .container{
      width: 18%;
      margin: 0; /* Center the container */
      padding: 18px;
      
  }
  .h2{ font-size: 65%;
    width: 10%
  ;}
    /* style the top navigation */
.topnav {
  
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: rgb(142, 210, 246);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 13px;
  border: 10px;
  border-radius: 10px 10px 10px 10px;
  

}
/* Change the color of links on hover */
.topnav a:hover {
  background-color: #b0e4f0;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: rgb(142, 210, 246);
  color: rgb(5, 63, 94);}
   /* make the header fit with the rest of the site*/
header { 
      background-color:rgb(26, 78, 78);
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      text-align: center;
      font-size: 22px;
      padding: 16px;
      color: rgb(142, 210, 246);
      margin-bottom: 24px;
  
  }
}

